@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
    color: orange;
  }
  h2 {
    font-size: 2.5rem;
    color: orange;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* @media screen and (min-width: 320px) {
  h1 {
    font-size: 1.75rem;
    color: orange;
  }
  h2 {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 0.6rem;
  }
  h4 {
    font-size: 0.3rem;
  }
  body {
    font-size: 0.3rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} */
/* Mobile First */
.App {
  text-align: center;
  border: 4px rgb(224, 155, 25) solid;
  height: 100%;
  display: grid;
  /* grid-template-columns: 1fr 5fr; */
  grid-template-areas:
    "title"
    "nav"
    "content";
}
.avatar {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
.avatar-text {
  text-align: right;
  color: white;
}
.Title {
  text-align: left;
  border: 4px rgb(133, 169, 223) solid;
  grid-area: title;
  background-color: orange;
}
.Title-header {
  color: white;
}

.Nav {
  border: 4px rgb(173, 87, 147) solid;
  grid-area: nav;
  padding: 5px;
  background-color: rgb(184, 241, 255);
}
.navLink {
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Content {
  border: 4px rgb(46, 167, 72) solid;
  grid-area: content;
}

/* Media Query */
/* @media only screen and (min-width: 320px) {
  .App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr;
    grid-template-areas:
      "title"
      "nav"
      "content";
  } */

.ArticleCard {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "small main";
  /* border: 4px orange solid; */
  width: 100%;
  position: center;
  padding-bottom: 10px;
}
.ArticleCardMain {
  border: 4px rgb(97, 191, 210) solid;
  grid-area: main;
}
.ArticleCardSmall {
  border: 4px orange solid;
  grid-area: small;
}

@media only screen and (min-width: 768px) {
  .App {
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
      "title title"
      "nav content";
  }
  .Nav {
    display: flex;
    flex-direction: column;
  }

  .ArticleCard {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 2fr 1fr 7fr 2fr;
    /* grid-template-rows: 1fr; */
    grid-template-areas: "small main";

    /* border: 4px orange solid; */

    /* position: center; */
  }
  .ArticleCardMain {
    border: 4px rgb(97, 191, 210) solid;
    grid-area: main;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .ArticleCardSmall {
    border: 4px orange solid;
    grid-area: small;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .Space {
    grid-area: space;
  }
}
